.ListChapter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.ChapterSet{
    align-self: flex-start; 
    margin-left: 20px;
    margin-bottom: 25px;
    font-size: 28px;
    font-weight: 700;
    color: #333;
}

.ChapterContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.ChapterItem {
    width: 220px;
    height: 120px;
    
    background-color: #FAAE3D;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    font-size: 22px;
    font-weight: 700;
    color: #333; 

    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.ChapterItem:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    background-color: #F89F1D;
    transform: translateY(-2px);
}

.empty {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    color: #999;
    padding: 30px;
    width: 90%;
}

.Btns {
    display: flex;
    gap: 10px;
    position: relative;
    z-index: 2;
}

.CorrBtn, .DeleteBtn{
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.2s;
}

.CorrBtn {
    background-color: #17a2b8; 
    color: white;
}

.CorrBtn:hover {
    background-color: #138496;
}

.DeleteBtn {
    background-color: #dc3545; 
    color: white;
}

.DeleteBtn:hover {
    background-color: #c82333;
}